@import 'app/styles/components/variables.static';
@import 'app/styles/components/mixins.static';

#pricing {
  padding-bottom: 82px;

  .uxph-pricing-section {
    @include tablet {
      @include horizontal-layout;
      @include wrap;
    }
    @include desktop {
      @include horizontal-layout;
      @include wrap;
    }
    @include large-desktop {
      @include horizontal-layout;
      @include wrap;
    }

    .uxph-pricing-container {
      @include flex;
      margin-right: 20px;
      padding: 20px;
      background-color: $white;
      margin-bottom: 10px;

      .uxph-pricing-title {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 30px;
        color: $grey-4;
        letter-spacing: 0;
        line-height: 33px;
      }

      .uxph-pricing-inclusions {
        margin-bottom: 59px;

        .uxph-pricing-inclusions-anchor {
          text-decoration: none;
          color: $brand-blue-1;
          font-size: 14px;
          letter-spacing: 0;
        }
      }

      .uxph-pricing-price {
        color: $black;
        font-size: 26px;
        letter-spacing: 0;
        margin-bottom: 16px;

        .uxph-pricing-price-decimal {
          font-size: 20px;
          letter-spacing: 0;
          line-height: 32px;
        }
        .uxph-usd-pricing {
          color: grey-4;
        }
      }

    }
  }
}
