@import 'app/styles/components/variables.static';
@import 'app/styles/components/mixins.static';

#schedule {
  // display: none;
  color: $black;
  padding-bottom: 84px;

  .uxph-schedule-section {
    // @include desktop {
    //   @include horizontal-layout;
    //   @include wrap;
    // }

    // @include large-desktop {
    //   @include horizontal-layout;
    //   @include wrap;
    // }

    .uxph-schedule-section-wrapper {
      width: 100%;
      margin-top: 30px;

      @include desktop {
        display: none;
      }
      @include large-desktop  {
        display: none;
      }
    }

    .uxph-schedule-section-day-button {
      margin-right: 10px;
      color: $brand-blue-1;
      font-size: 24px;
      line-height: 29px;

      @include desktop {
        display: none;
      }

      @include large-desktop {
        display: none;
      }
    }

    .uxph-schedule-flex {
      @include flex;
    }

    .uxph-schedule-section-time-wrapper {
      @include phone {
        width: 100%;
      }
    }

    .uxph-schedule-container {
      @include flex;
      margin-bottom: 30px;
      margin-right: 30px;

      @include phone {
        margin-right: 0px;
      }

      .uxph-schedule-date {
        color: $brand-blue-1;
        font-size: 16px;
      }

      .uxph-schedule-day {
        font-size: 30px;
        color: $black;
        letter-spacing: 0;
        margin-top: 0px;
        margin-bottom: 26px;
        font-weight: 600;
      }

      .uxph-schedule {
        @include tablet {
          @include horizontal-layout;
          @include wrap;
        }

        @include desktop {
          @include horizontal-layout;
          @include wrap;
        }

        @include large-desktop {
          @include horizontal-layout;
          @include wrap;
        }

        .uxph-schedule-half-day {
          font-weight: 700;
          font-size: 16px;
          color: $brand-red-1;
          letter-spacing: 0;
          margin-top: 0px;
          margin-bottom: 12px;
        }

        .uxph-schedule-row {
          @include horizontal-layout;

          .uxph-schedule-time {
            width: 61px;
            margin-bottom: 7px;
            font-size: 16px;
            color: $black;
            letter-spacing: 0;
            // line-height: 40px;
          }

          .uxph-schedule-divider {
            overflow-y: hidden;
            .uxph-schedule-divider-space {
              width: 6px;
              height: 10px;
            }

            .uxph-schedule-divider-top-line {
              width: 1px;
              margin-left: 3px;
              margin-right:3px;
              height: 10px;
              background-color: $brand-blue-1;
            }

            .uxph-schedule-bullet {
              border-radius: 50%;
              height: 6px;
              width: 6px;
              border: 1px solid $brand-blue-1;
            }
            .uxph-schedule-divider-bottom-line {
              width: 1px;
              margin-left: 3px;
              margin-right:3px;
              height: calc(100% - 18px);
              background-color: $brand-blue-1;
            }
          }

          .uxph-schedule-time-caption {
            @include flex;
            margin-bottom: 7px;
            margin-left: 41px;
            font-size: 16px;
            color: $black;
            letter-spacing: 0;
            // line-height: 40px;

            p {
              margin-top: 2px;
              font-size: 12px;
              color: $grey-4;
              letter-spacing: 0;
              line-height: 14px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
