@import 'app/styles/components/variables.static';
@import 'app/styles/components/mixins.static';

.uxph-speaker-banner {
  @include horizontal-layout;
  @include center;
  @include wrap;
  color: $white;
  background: url('/images/assets/UXPH_City.png') no-repeat right center/auto 100% $brand-blue-1;

  .flex {
    @include flex;
  }

  .uxph-banner-image {
    img {
      width: 100%;
    }
  }
}

