---
data:
_options:
  layout: app/layouts/page.static.hbs
  partials:
    - app/styles/pages/speaker-style.static.hbs
    - app/partials/page-nav-header.static.hbs
    - app/partials/pages/index/footer.static.hbs
---
link href="https://fonts.googleapis.com/css?family=Open+Sans:300400600700" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>

    <style>
      {{>speaker-style}}
    </style>

  </head>

  <body>
    <div id="header-container">
      {{>page-nav-header}}
    </div>

    <div id="page-content">
      
       {{ put content here / or partials }}

    </div>

    <div id="footer-container">
      {{>footer}}
    </div>

    <link rel="import" href="/project_components/core-app-component/core-app-component.html" >
    <core-app-component id="core-component"></core-app-component>

    <script src="app.js">
    </script>
    <script>require('scripts/initialize.js');</script>
  </body>
