<section id="about" class="uxph-white-bg">
  <div class="uxph-small-box uxph-blue-box uxph-bottom-right"></div>
  <div class="uxph-small-box uxph-blue-box uxph-top-right"></div>
  <div class="uxph-small-box uxph-red-box uxph-top-left"></div>
  <div class="uxph-small-box uxph-red-box uxph-bottom-left"></div>

  <h1 class="uxph-section-title">
    About the Conference and UXPH
  </h1>

  <div class="uxph-about-section">
    <div class="uxph-about-title">
      <p class="uxph-about-caption">
        The Biggest Conference on User Experience in the Philippines
      </p>
      <div class="uxph-section-divider">
        &nbsp;
      </div>
      <a target="_blank" href="https://www.eventbrite.com/e/design-a-better-philippines-ux-philippines-uxph-conference-tickets-31579032737" class="uxph-button-anchor">
        <button class="uxph-button-2">
          Attend Event
        </button>
      </a>
    </div>

    <div class="uxph-about-description">
      <h1>UXPH Conference</h1>
      <p class="uxph-paragraph-1">
        Frustrated over bad experiences like long queue lines, traffic, inconsiderate services, and terrible product design? UX Philippines Design Conference is a collaborative conference that hopes to showcase the possible applications of Design Thinking in technology, business, health, government, and many other fields.  It brings together the process-driven individuals of these sectors to participate in a dialogue on how Design Thinking can be applied and how it can benefit the Philippines.
      </p>
      <h1>UXPH Philippines Community</h1>
      <p class="uxph-paragraph-1">
        <b>User Experience Philippines (UXPH)</b> is a group of UX professionals that organizes events and programs on experience and design. Educating individuals that want to use the Design Thinking methodology in their respective communities has become a passion over the years, inspiring us to create events like “Improving User Experiences with Game Aided Learning” and “How to become UX advocates within your organization”. For this year’s conference, we will be focusing on topics that will still cater to the needs of the multiple sectors of the country.
      </p>
      
    </div>
  </div>
</section>
