<section class="uxph-grey-bg uxph-banner">
  <div class="flex uxph-banner-text">
    <h1 class="uxph-banner-text-title">
      Design for a better <br/>Philippines
    </h1>
    <div class="uxph-banner-text-date-location">

      <a class="uxph-banner-text-date-location-anchor" target="_blank" href="{{data.calendar}}">
        <div class="uxph-banner-text-date-location-container uxph-banner-text-date">
          <div class="uxph-small-box uxph-blue-box uxph-bottom-right"></div>
          <div class="uxph-small-box uxph-red-box uxph-top-left"></div>
          <i class="material-icons">&#xE916;</i>
          <div class="uxph-banner-text-date-location-text-area">
            <span class="uxph-banner-text-date-location-title">
              May 20 + 21
            </span>
          </div>
        </div>
      </a>

      <a class="uxph-banner-text-date-location-anchor" target="_blank" href="{{data.map}}">
        <div class="uxph-banner-text-date-location-container uxph-banner-text-location">
          <div class="uxph-small-box uxph-blue-box uxph-bottom-right"></div>
          <div class="uxph-small-box uxph-red-box uxph-top-left"></div>
          <i class="material-icons">&#xE55F;</i>
          <div class="uxph-banner-text-date-location-text-area">
            <span class="uxph-banner-text-date-location-title">
              Globe Tower B1
            </span><br/>
            <span class="uxph-banner-text-date-location-subtitle">
              BGC, Taguig City
            </span>
          </div>
        </div>
      </a>
    </div>
    <div class="uxph-section-divider">
      &nbsp;
    </div>

    <a target="_blank" href="{{data.eventbrite}}" class="uxph-button-anchor">
      <button class="uxph-button-1">
        Register to attend
      </button>
    </a>

  </div>
  <div class="flex uxph-banner-image">
    <img src="{{data.banner.image}}">
  </div>
</section>
