<!-- Buy Tickets -->
<section id="pricing" class="uxph-grey-bg-2">
  <div class="uxph-small-box uxph-blue-box uxph-bottom-right"></div>
  <div class="uxph-small-box uxph-blue-box uxph-top-right"></div>
  <div class="uxph-small-box uxph-red-box uxph-top-left"></div>
  <div class="uxph-small-box uxph-red-box uxph-bottom-left"></div>

  <h1 class="uxph-section-title-2">
    Buy Tickets
  </h1>

  <div class="uxph-pricing-section">
    {{#each data.pricing}}
    <div class="uxph-pricing-container">
      <h2 class="uxph-pricing-title">{{name}}</h2>
      {{!--<div class="uxph-pricing-inclusions">
        <a class="uxph-pricing-inclusions-anchor" href="#">
          See inclusions
        </a>
      </div>--}}
      <div class="uxph-pricing-price">
        Php {{price}}.<span class="uxph-pricing-price-decimal">00</span>
      </div>
      <a target="_blank" href="{{link}}" class="uxph-button-anchor">
        <button class="uxph-button-1" style="width: 100%">
          Buy Ticket
        </button>
      </a>
    </div>
    {{/each}}
  </div>

</section>
