<section id="updated" class="uxph-red-bg">
  <div class="uxph-small-box uxph-red-box uxph-bottom-right"></div>
  <div class="uxph-small-box uxph-red-box uxph-top-right"></div>
  <div class="uxph-small-box uxph-blue-box uxph-top-left"></div>
  <div class="uxph-small-box uxph-blue-box uxph-bottom-left"></div>

  <div class="uxph-updated-section">

    <div class="uxph-updated-title-container">
      <h1 class="uxph-section-title">
        Sponsors
      </h1>
      <span class="uxph-updated-section-sub">
        Signup for our newsletter
      </span>
    </div>

    <div class="uxph-updated-form-container">
      <form id="uxph-updated-form" method="POST" action="{{data.updated.action}}">
        <div class="uxph-updated-form">
          <div class="uxph-updated-form-input-container">
            <label for="uxph-updated-email" class="uxph-updated-label">
              Email
            </label>
            <input id="uxph-updated-email" name="uxph-updated-email" class="uxph-updated-text-input" placeholder="email@domain.com" required/>
          </div>
          <div class="uxph-updated-form-submit-container">
            <button class="uxph-button-3 uxph-button-submit" type="submit" id="uxph-updated-submit" >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
