<!-- Venue -->
<section id="venue" class="uxph-red-bg">
  <div class="uxph-small-box uxph-red-box uxph-bottom-right"></div>
  <div class="uxph-small-box uxph-red-box uxph-top-right"></div>
  <div class="uxph-small-box uxph-blue-box uxph-top-left"></div>
  <div class="uxph-small-box uxph-blue-box uxph-bottom-left"></div>

  <h1 class="uxph-section-title-2">
    Venue
  </h1>

  <div class="uxph-venue-section">
    <div class="uxph-venue-text">
      <h2 class="uxph-venue-title">Address</h2>
      <address class="uxph-venue-address">
        Basement 1, The Globe Tower <br/>
        Bonifacio Global City (BGC) <br/>
        32nd Street cor 7th Avenue <br/>
        Taguig, Metro Manila <br/>
        Philippines 1000
      </address>
      <a target="_blank" href="{{data.map}}" class="uxph-button-anchor">
        <button class="uxph-button-3">
          View Guide Map
        </button>
      </a>
      <div class="uxph-section-divider">
        &nbsp;
      </div>
      <p class="uxph-venue-caption">
        List of nearby landmark, malls, coffee and food shops.
      </p>
    </div>
    <div class="uxph-venue-map">
      <link rel="import" href="/project_components/uxph-venue-map/uxph-venue-map.html">
      <img class="uxph-venue-map-png" src="/images/assets/map.png">
      <uxph-venue-map id="uxph-venue-map"></uxph-venue-map>
    </div>
  </div>

</section>
