@import 'app/styles/components/variables.static';

.uxph-button-anchor {
  color: inherit;
  text-decoration: none;

  .uxph-button-1 {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: $white;
    background-color: $brand-blue-1;
    border: none;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
  }

  .uxph-button-2 {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    color: $brand-blue-1;
    background-color: inherit;
    border: 2px solid $brand-blue-1;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
  }

  .uxph-button-3 {
    text-align: center;
    // margin-bottom: 76px;
    padding-top: 16px;
    padding-bottom: 15px;
    color: $white;
    background-color: inherit;
    border: 2px solid $white;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
  }
}
