@import 'app/styles/components/variables.static';
@import 'app/styles/components/mixins.static';

#header-container {
  height: 55px;

  header {
    @include flex;
    @include horizontal-layout;

    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;

    // padding-left: 5px;
    // padding-right: 5px;

    .uxph-logo-anchor {
      text-decoration: none;
      color: inherit;
      .uxph-logo {
        padding-top: 13px;
        padding-bottom: 12px;
        margin-right: 37.5px;
        margin-left: 37.5px;
        height: 30px;
        vertical-align: bottom;
      }
    }

    nav {
      @include flex;
      @include horizontal-layout;
      @include center;

      .uxph-nav-link-anchor {
        color: $brand-blue-2;
        text-decoration: none;
        font-weight: 600;
        line-height: 17px;
        text-align: center;

        .uxph-nav-link {
          height: 17px;
          padding-top: 20px;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 18px;
          position: relative;
        }
      }

      .uxph-nav-link-anchor-active {
        color: $black;
        .uxph-nav-link {
          padding-bottom: 16px;
          border-bottom: 2px solid $brand-blue-2;
        }
      }
    }
  }
}
