@import 'app/styles/components/variables.static';

@mixin horizontal-layout {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@mixin center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin flex {
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
  flex-basis: 0.000000001px;
}

@mixin flex-2 {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

@mixin flex-3 {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

@mixin flex-5 {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}

// ////////// Phone //////////
// @mixin phone {
//   @media only screen and (max-width: map-get($grid-breakpoints, phone) - 1) {
//     @content
//   }
// }

// @mixin specialsize {
//   @media only screen and (max-width: map-get($grid-breakpoints, specialsize) - 1) {
//     @content
//   }
// }

// ////////// Tablet //////////
// @mixin tablet {
//   @media only screen and  (min-width: map-get($grid-breakpoints, phone)) and (max-width: map-get($grid-breakpoints, tablet) - 1) {
//     @content;
//   }
// }

////////// Desktop //////////
@mixin desktop {
  @media only screen and  (min-width: $desktop and (max-width: $large-desktop - 1)) {
    @content;
  }
}

////////// Large Screen //////////
@mixin large-desktop {
  @media only screen and (min-width: $large-desktop) {
    @content;
  }
}
