// Branding

$black: #000000;
$white: #ffffff;
$grey-1: #EFEFEF;
$grey-2: #888888;
$grey-3: #C4C4C4;
$grey-4: #555555;
$grey-5: #556E79;
$grey-6: #EEEEEE;
$grey-7: #222222;
$grey-8: #979797;
$grey-9: #333333;
$grey-10: #ECEFF1;
$brand-red-1: #D71635;
$brand-red-2: #EC3558;
$brand-red-3: #EA385A;
$brand-blue-1: #15B0DE;
$brand-blue-2: #3DBBE0;
$brand-blue-3: #24B0DB;
$brand-blue-4: #0083AE;


// Breakpoints
$desktop: 1024px;
$large-desktop: 1280px;
