<header class="uxph-white-bg">
  <div class="uxph-small-box uxph-red-box uxph-top-right"></div>
  <div class="uxph-small-box uxph-blue-box uxph-bottom-right"></div>
  <div class="uxph-small-box uxph-red-box uxph-top-left"></div>
  <div class="uxph-small-box uxph-blue-box uxph-bottom-left"></div>

  <a class="uxph-logo-anchor" href="/">
    <img class="uxph-logo" src="/images/assets/uxphlogo.png" />
  </a>

  <nav>
    {{#each data.nav}}
    <a href="/#{{id}}" class="uxph-nav-link-anchor">
      <div class="uxph-nav-link">
        {{name}}
      </div>
    </a>
    {{/each}}
  </nav>
  <input type="checkbox" id="uxph-nav-menu-button">
  <label class="nav-menu-button" for="uxph-nav-menu-button">
    <i class="material-icons uxph-open-sidebar">&#xE5D2;</i>
    <i class="material-icons uxph-close-sidebar">&#xE5CD;</i>
  </label>

  {{!--<label class="sidebar-menu" for="uxph-nav-menu-button">--}}
  <div class="sidebar">
    <div class="sidebar-nav">
      {{#each data.nav}}
      <a href="/#{{id}}" class="uxph-nav-link-anchor" onclick="document.getElementById('uxph-nav-menu-button').checked = false;">
        <div class="uxph-nav-link">
          {{name}}
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  {{!--</div>--}}
</header>


