@import 'app/styles/components/page.static';
@import 'app/styles/components/atoms.static';
@import 'app/styles/components/uxph-backgrounds.static';
@import 'app/styles/components/headers.static';
@import 'app/styles/components/buttons.static';
@import 'app/styles/components/footer.static';

@import 'app/styles/partials/section.static';
@import 'app/styles/partials/index-page-banner.static';
@import 'app/styles/partials/index-page-speaker.static';
@import 'app/styles/partials/index-page-schedule.static';
@import 'app/styles/partials/index-page-venue.static';
@import 'app/styles/partials/index-page-gallery.static';
@import 'app/styles/partials/index-page-pricing.static';

// @import 'app/styles/components/variables.static';

// @import 'styles/mixins';
// @import 'styles/uxph-backgrounds';
// @import 'styles/buttons';
// @import 'styles/index-page';
// @import 'styles/header';
// @import 'styles/footer';
