---
data:
  calendar: http://www.google.com/calendar/event?action=TEMPLATE&text=UXPH%20Conference%202017&dates=20170520/20170521&location=Globe%20Telecom%20Bonifacio%20Global%20City%2032nd Street%20Taguig%20NCR
  eventbrite: https://www.eventbrite.com/e/design-a-better-philippines-ux-philippines-uxph-conference-tickets-31579032737
  map: https://goo.gl/maps/TrDyP2HcSuL2
  banner:
    image: /images/assets/sample_banner.png
  nav: 
    -
      id: speakers
      name: Speakers
    -
      id: schedule
      name: Schedule
    -
      id: venue
      name: Venue
    -
      id: gallery
      name: Gallery
    -
      id: pricing
      name: Pricing
    -
      id: faqs
      name: FAQs
    -
      id: contact-us
      name: Contact Us
    -
      id: about
      name: About
    -
      id: sponsors
      name: Sponsors
  speakers:
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio: 
      avatar: /images/assets/jen_teves.png
    - none
    - none
  schedule:
    -
      date: May 20 Saturday
      day: DAY ONE
      am: 
        -
          name: Registration
          time: 8:00
        -
          name: Public Sector
          time: 9:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 10:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 11:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
      pm:
        -
          name: Public Sector
          time: 1:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 2:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 3:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 4:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Closing
          time: 5:00
    -
      date: May 21 Sunday
      day: DAY TWO
      am: 
        -
          name: Registration
          time: 8:00
        -
          name: Public Sector
          time: 9:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 10:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 11:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
      pm:
        -
          name: Public Sector
          time: 1:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 2:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 3:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 4:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Closing
          time: 5:00
  gallery: 
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
_options: 
  layout: app/layouts/page.static.hbs
  partials: 
    - app/styles/pages/index-page-style.static.scss
    - app/partials/page-nav-header.static.hbs
    - app/partials/pages/index/banner.static.hbs
    - app/partials/pages/index/speaker.static.hbs
    - app/partials/pages/index/schedule.static.hbs
    - app/partials/pages/index/venue.static.hbs
    - app/partials/pages/index/gallery.static.hbs
    - app/partials/pages/index/pricing.static.hbs
---
    <link rel="import" href="/project_components/core-component/core-component.html" async>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300400600700" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>

    <style>
      {{>index-page-style}}
    </style>

  </head>

  <body>
    <div id="header-container">
      {{>page-nav-header}}
    </div>

    <div id="page-content">
      {{>banner}}
      {{>speaker}}
      {{>schedule}}
      {{>venue}}
      {{>gallery}}
      {{>pricing}}
    </div>
  </body>
