---
data:
  calendar: http://www.google.com/calendar/event?action=TEMPLATE&text=UXPH%20Conference%202017&dates=20170520/20170521&location=Globe%20Telecom%20Bonifacio%20Global%20City%2032nd Street%20Taguig%20NCR
  eventbrite: https://www.eventbrite.com/e/design-a-better-philippines-ux-philippines-uxph-conference-tickets-31579032737
  map: https://goo.gl/maps/TrDyP2HcSuL2
  banner:
    image: /images/assets/sample_banner.png
  nav:
    -
      id: speakers
      name: Speakers
    -
      id: schedule
      name: Schedule
    -
      id: venue
      name: Venue
    -
      id: gallery
      name: Gallery
    -
      id: pricing
      name: Pricing
    -
      id: faqs
      name: FAQs
    -
      id: contact-us
      name: Contact Us
    -
      id: about
      name: About Us
    -
      id: sponsors
      name: Sponsors
  speakers:
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    -
      name: Jennifer P. Teves PhD
      shortBio: The quick brown fox jumps over the lazy dog
      fullBio:
      avatar: /images/assets/jen_teves.png
    - none
    - none
  schedule:
    -
      date: May 20 Saturday
      day: DAY ONE
      am:
        -
          name: Registration
          time: 8:00
        -
          name: Public Sector
          time: 9:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 10:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 11:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
      pm:
        -
          name: Public Sector
          time: 1:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 2:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 3:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 4:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Closing
          time: 5:00
    -
      date: May 21 Sunday
      day: DAY TWO
      am:
        -
          name: Registration
          time: 8:00
        -
          name: Public Sector
          time: 9:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 10:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 11:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
      pm:
        -
          name: Public Sector
          time: 1:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 2:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 3:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Public Sector
          time: 4:00
          description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Fusce sit amet lectus risus. Nunc placerat velit sit amet sapien dictum
        -
          name: Closing
          time: 5:00
  gallery:
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
    - /images/assets/gallery/IMG_2326.JPG
  faq:
    -
      id: uxph-faq-1
      title: Do you accept credit card payments?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-2
      title: I do not hold a User Experience role in the company, can I still join?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-3
      title: Can I only attend one day of the event?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-4
      title: Will you allow walk-in ticket purchases?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-5
      title: Are the tickets transferable and refundable?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-6
      title: How can I get my ticket?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-7
      title: Do we get certificates after participating?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -
      id: uxph-faq-8
      title: I am from government/academe and would like to get a formal invitation so I can submit to my department, how might I go about getting one?
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  contact:
    action: #
    column:
      -
        -
          text: true
          id: uxph-contact-name
          label: Name
          placeholder: Type your full name
        -
          text: true
          id: uxph-contact-email
          label: Email Address
          placeholder: email@domain.com
        -
          text: true
          id: uxph-contact-number
          label: Contact Number
          placeholder: Type your telephone or mobile number
      -
        -
          dropdown: true
          id: uxph-contact-concern
          label: Type of Concern
          default: general-concern
          options:
            -
              id: uxph-contact-concern
              name: General Concern
              value: general-concern
            -
              id: uxph-contact-concern
              name: General Concern 1
              value: general-concern-1
            -
              id: uxph-contact-concern
              name: General Concern 2
              value: general-concern-2
        -
          textarea: true
          id: uxph-contact-message
          label: Message
          placeholder: Type your message here
_options:
  layout: app/layouts/page.static.hbs
  partials:
    - app/styles/pages/index-page-style.static.scss
    - app/partials/page-nav-header.static.hbs
    - app/partials/pages/index/banner.static.hbs
    - app/partials/pages/index/speaker.static.hbs
    - app/partials/pages/index/schedule.static.hbs
    - app/partials/pages/index/venue.static.hbs
    - app/partials/pages/index/gallery.static.hbs
    - app/partials/pages/index/pricing.static.hbs
    - app/partials/pages/index/faq.static.hbs
    - app/partials/pages/index/contact.static.hbs
    - app/partials/pages/index/about.static.hbs
---
    <link rel="import" href="/project_components/core-component/core-component.html" async>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300400600700" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>

    <style>
      {{>index-page-style}}
    </style>

  </head>

  <body>
    <div id="header-container">
      {{>page-nav-header}}
    </div>

    <div id="page-content">
      {{>banner}}
      {{>speaker}}
      {{>schedule}}
      {{>venue}}
      {{>gallery}}
      {{>pricing}}
      {{>faq}}
      {{>contact}}
      {{>about}}
    </div>
  </body>
