---
{
  _options: {
    layout: 'app/layouts/page.static.hbs'
  }
}
---
<link rel="import" href="/project_components/test-component/test-component.html" async>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" async>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>

</head>

<body>

</body>
