---
data:
  calendar: http://www.google.com/calendar/event?action=TEMPLATE&text=UXPH%20Conference%202017&dates=20170520/20170521&location=Globe%20Telecom%20Bonifacio%20Global%20City%2032nd Street%20Taguig%20NCR
  eventbrite: https://www.eventbrite.com/e/design-a-better-philippines-ux-philippines-uxph-conference-tickets-31579032737
  map: https://goo.gl/maps/TrDyP2HcSuL2
  schedule:
    -
      id: uxphconf2017-day-1
      date: May 20 Saturday
      dayNormal: Day One
      day: DAY ONE
      active: true
      am:
        -
          name: Registration
          time: "8:00"
        -
          name: Introduction to Keynote
          time: "9:00"
          description: "by Jennifer Teves"
        -
          name: "Keynote"
          time: "9:15"
          description: Department Secretary, PH Government
        -
          name: Alexander Collado Jr. &  Samantha Rose Cruz
          time: "10:00"
          description: "(Panel Discussion) Landing that Elusive UX Gig: Jobs, Internship, and Others"
        -
          name: Samantha Yuen
          time: "10:45"
          description: "Stepping into our users’ worlds"

      pm:
        -
          name: Ben Kim
          time: "1:00"
          description: "State of User Experience Design in Asia"
        -
          name: Yian Ling Cheong & Pete Chemsripong
          time: "1:45"
          description: "Raising the fundraising experience with Singapore’s Project Tintin"
        -
          name: Jordan Aiko Deja
          time: "2:30"
          description: "Employing Computing Techniques towards Better Data-Driven Visual Design "
        -
          name: Micael Andrei Diaz de Rivera
          time: "3:15"
          description: "Data vs Gut Feeling: Inspiring Design and Creativity without Killing the Magic"
        -
          name: Lorenzo Miguel Villalon
          time: "4:00"
          description: "Rubber, Meet Road: Field Research and Case Studies in FinTech Application Deployment"
        -
          name: First Day End Remarks
          time: "4:45"
    -
      id: uxphconf2017-day-2
      date: May 21 Sunday
      dayNormal: Day Two
      day: DAY TWO
      active: false
      am:
        -
          name: Registration
          time: "8:00"
        -
          name: "Paul Sherman, PhD "
          time: "9:00"
          description: "User Research At The Speed Of Business: A Field Research Primer And Toolkit"
        -
          name: "Jennifer Teves, PhD"
          time: "9:45"
          description: "Data Visualization in Healthcare IT "
        -
          name: "Mikki Phan, PhD "
          time: "10:30"
          description: "Game User Experience Satisfaction Scale (GUESS)"
        -
          name: "Carolyn Wiener, MA "
          time: "11:15"
          description: "Enterprise Software UX Engagement Model"



      pm:
        -
          name: "Design Sprint Workshop 1"
          time: "1:00"
          description: (Room A) Helping Government Design
        -
          name: "Design Sprint Workshop 2"
          time: ""
          description: (Room B) Helping Government Design
        -
          name: "A Taste of UX Workshop 3"
          time: ""
          description: (Room C) Experience and Food Design
        -
          name: Closing
          time: "5:00"
  gallery:
    - /images/assets/gallery/uxphmeetup1.jpg
    - /images/assets/gallery/uxphmeetup2.jpg
    - /images/assets/gallery/uxphmeetup3.jpg
    - /images/assets/gallery/uxphmeetup4.jpg
    - /images/assets/gallery/uxphmeetup5.jpg
    - /images/assets/gallery/uxphmeetup6.jpg
    - /images/assets/gallery/uxphmeetup7.jpg
    - /images/assets/gallery/uxphmeetup8.jpg
    - /images/assets/gallery/uxphmeetup9.jpg
    - /images/assets/gallery/uxphmeetup10.jpg
    - /images/assets/gallery/uxphmeetup11.jpg
    - /images/assets/gallery/uxphmeetup12.jpg
    - /images/assets/gallery/uxphmeetup13.jpg
    - /images/assets/gallery/uxphmeetup14.jpg
    - /images/assets/gallery/uxphmeetup15.jpg
    - /images/assets/gallery/uxphmeetup16.jpg
  faq:
    -
      id: uxph-faq-1
      title: Do you accept credit card payments?
      description: Yes we do! We process payments through Paypal and Eventbrite.
    -
      id: uxph-faq-2
      title: I do not hold a User Experience role in the company, can I still join?
      description: You can still join! There are enough UX talks for beginners.
    -
      id: uxph-faq-3
      title: Can I only attend one day of the event?
      description: You may but you still have to pay for the full event. Not to worry. UXPH is one of the cheapest UX conferences in the region.
    -
      id: uxph-faq-4
      title: Will you allow walk-in ticket purchases?
      description: Unfortunately, we can not accept walk-in ticket purchases due to limitation on cash transactions at the venue.
    -
      id: uxph-faq-5
      title: Are the tickets transferable and refundable?
      description: Tickets are transferable but please inform us early on so that we may use the actual names of participants in their registration IDs.
    -
      id: uxph-faq-6
      title: How can I get my ticket?
      description: Tickets are sent to you via email through the eventbrite ticketing system.  Just print out the tickets (or event just show us the qr-code/barcodes) on your mobile phone.
    -
      id: uxph-faq-7
      title: Do we get certificates after participating?
      description: We do not offer certificates for participating.
    -
      id: uxph-faq-8
      title: I am from government/academe and would like to get a formal invitation so I can submit to my department, how might I go about getting one?
      description: Definitely. Just send us a message through our UXPH FB page or through Eventbrite's contact the Organizers link.
    -
      id: uxph-faq-9
      title: Do you accept bank deposit payments?
      description: We prefer you go through our the Eventbrite ticketing system and pay online. However, if you really need to pay through bank, please get in touch with us through our UXPH FB page or through Eventbrite's contact the Organizers link.

  contact:
    action: #
    column:
      -
        -
          text: true
          id: uxph-contact-name
          label: Name
          placeholder: Type your full name
        -
          text: true
          id: uxph-contact-email
          label: Email Address
          placeholder: email@domain.com
        -
          text: true
          id: uxph-contact-number
          label: Contact Number
          placeholder: Type your telephone or mobile number
      -
        -
          dropdown: true
          id: uxph-contact-concern
          label: Type of Concern
          default: general-concern
          options:
            -
              id: uxph-contact-concern
              name: General Concern
              value: general-concern
            -
              id: uxph-contact-concern
              name: General Concern 1
              value: general-concern-1
            -
              id: uxph-contact-concern
              name: General Concern 2
              value: general-concern-2
        -
          textarea: true
          id: uxph-contact-message
          label: Message
          placeholder: Type your message here
  pricing:
    -
      price: 4,100
      usdprice: "80+"
      name: UXPH Participant (1 ticket)
      link: https://www.eventbrite.com/e/design-for-a-better-philippines-uxphilippines-uxph-conference-uxphconf2017-tickets-31579032737
    -
      price: 20,500
      usdprice: "409+"
      name: Group Discount (5 + 1)
      link: https://www.eventbrite.com/e/design-for-a-better-philippines-uxphilippines-uxph-conference-uxphconf2017-tickets-31579032737
  sponsors:
    -
      sponsors:
        -
          sponsorType: Co-presented by
          image: /images/assets/globelabs_logo.png
          alt: Globe Labs
    -
      sponsors:
        -
          sponsorType: Sponsors
          image: /images/assets/nuworks_logo.png
          alt: Nuworks Interactive
  footer:
    socials1:
      -
        link: https://www.facebook.com/UXPhilippines/
        icon: /images/assets/Twitter1.png
      -
        link: https://www.facebook.com/UXPhilippines/
        icon: /images/assets/Linkedin.png
      -
        link: https://www.facebook.com/UXPhilippines/
        icon: /images/assets/Youtube.png
    socials:
      -
        link: https://www.facebook.com/UXPhilippines/
        icon: /images/assets/Facebook1.png


_options:
  layout: app/layouts/page.static.hbs
  partials:
    - app/styles/pages/index-page-style.static.scss
    - app/partials/page-nav-header.static.hbs
    - app/partials/pages/index/banner.static.hbs
    - app/partials/pages/index/speaker.static.hbs
    - app/partials/pages/index/schedule.static.hbs
    - app/partials/pages/index/venue.static.hbs
    - app/partials/pages/index/gallery.static.hbs
    - app/partials/pages/index/pricing.static.hbs
    - app/partials/pages/index/faq.static.hbs
    - app/partials/pages/index/contact.static.hbs
    - app/partials/pages/index/about.static.hbs
    - app/partials/pages/index/sponsor.static.hbs
    - app/partials/pages/index/update.static.hbs
    - app/partials/pages/index/footer.static.hbs
---
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300400600700" rel="stylesheet" async>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" async>

    <style>
      {{>index-page-style}}
    </style>

  </head>

  <body>
    <div id="header-container">
      {{>page-nav-header}}
    </div>

    <div id="page-content">
      {{>banner}}
      {{>speaker}}
      {{>schedule}}
      {{>venue}}
      {{>gallery}}
      {{>pricing}}
      {{>faq}}
      {{!--{{>contact}}--}}
      {{>about}}
      {{>sponsor}}
      {{!--{{>update}}--}}
    </div>

    <div id="footer-container">
      {{>footer}}
    </div>

    <link rel="import" href="/project_components/core-app-component/core-app-component.html" >
    <core-app-component id="core-component"></core-app-component>

    <script src="app.js">
    </script>
    <script>require('scripts/initialize.js');</script>
  </body>
