//
@import 'styles/variables';
@import 'styles/mixins';

.pledge-item {
  cursor: pointer;
  padding: 20px;
  .pledge-description {
    margin-top: 0px;
  }

  &:hover {
    background-color: $brand-red;
    p {
      color: $light !important;
    }
  }

  .pledge-body {
    @include phone {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.pledge-icon {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.pledge-picked {
  background-color: $brand-red;
  p {
    color: $light !important;
  }
}