//

@import 'styles/variables';
@import 'styles/mixins';

:host {
    @extend %paragraph;

    background-color: $gray-1;
    padding: 20px;
    padding-left: 60px;

    @include phone {
        padding-left: 30px;
    }

    p {
        color: $light;
        a {
            color: inherit;
        }
    }
    
    
}