---
name: uxph-venue-map
bower_imports:
  - polymer/polymer.html
  - google-map/google-map.html
  - google-map/google-map-marker.html
_options: 
  layout: app/layouts/project-components.static.hbs
  partials: 
    - app/project_components/uxph-venue-map/script.static.js
    - app/project_components/uxph-venue-map/style.static.scss
---
  <template>
    <style is="custom-style" include="{{styleIncludes}}">
      {{>style}}
    </style>

    <google-map latitude="14.553441" longitude="121.049892" zoom="17" api-key="AIzaSyD9PL6zRsYSG7RkdMOHy3n7kRiUN_fGU84">
      <google-map-marker latitude="14.553441" longitude="121.049892">
        <div class="">
          Basement 1, The Globe Tower <br/>
          Bonifacio Global City (BGC) <br/>
          32nd Street cor 7th Avenue <br/>
          Taguig, Metro Manila <br/>
          Philippines 1000 <br/>
        </div>
      </google-map-marker>
    </google-map>
  </template>
  <script>
    {{>script}}
  </script>
