:host {
  padding: 20px;
  text-align: justify;
}

.main-content {
  min-width: 250px;
  padding-right: 20px;
  
  .indent {
    font-style: italic;
  }
  
  .speaker-list {
    margin-top: 20px;
    
    .speaker-item {
      margin-bottom: 20px;
      
      paper-checkbox {
        padding-right: 20px;
      }
      
      .speaker-content {
        padding-left: 20px;
        
        h3 {
          text-align: left;
          margin-top: 0;
          margin-bottom: 5px;
        }
        .speaker-body {
          margin: 0px;
        }
      }    
    }
  }
}

.side-window {
  min-width: 250px;
  padding: 20px;
  padding-top: 0px;
  .side-window-title {
    margin-top: 0px;
  }
}


.pledge-item {
  cursor: pointer;
  padding: 20px;
  padding-top: 0px;
  h3 {
    padding-top: 20px;
    margin-bottom: 5px;
  }
  .pledge-description {
    margin-top: 0px;
  }
}  

