@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

:host {
  @extend %h1;
  @extend %h2;
  @extend %h3;
  @extend %h4;
  @extend %paragraph;

  @include phone {
    h1 {
      font-size: 43px;
      line-height: 58px;
    }
  }

  @include tablet {
    h1 {
      font-size: 43px;
      line-height: 58px;
    }
  }

}

.spacer {
  @include phone {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.main-background {
  background-image: url(/images/assets/bground.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: cover; 

  padding-top: 60px;
  padding-bottom: 60px;

  .logo {
    width: 80px;
    padding-left: 60px;

    @include phone {
      padding-left: 30px;
    }
  }

  h1 {
    width: 50%;
    margin-bottom: 0px;
  }

  .foreground-title {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 60px;
    background-color: rgba(255, 255, 255, 0.7);

    @include phone {
      padding-left: 30px;
    }
  }

  @include phone {
    padding-top: 30px;
    padding-bottom: 30px;
    h1 {
      width: inherit;
    }
  }
}

.main-content {
  min-width: 200px;

  padding-right: 60px;
  padding-left: 60px;

  @include phone {
    padding: 30px;
    h1 {
      width: inherit;
    }
  }

  .logo {
    width: 80px;
  }

  h1 {
    width: 80%;
  }
  
  .speaker-list {
    margin-top: 40px;
    
    .speaker-item {
      margin-bottom: 20px;
      .speaker-avatar {
        width: 75px;
        height: 75px;
        background-color: $gray-2;
        border-radius: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .speaker-content {
        min-width: 200px;
        
        a.title-link {
          text-decoration: none;
          color: inherit
        }

        h3 {
          text-align: left;
          margin-top: 0;
          margin-bottom: 5px;
        }

        .speaker-body {
          margin: 0px;
          a {
            text-decoration: none;
            color: $brand-red;
          }
        }

        @include phone {
          h3 {
            font-size: 21px;
            line-height: 27px;
          }
        }

        @include tablet {
          h3 {
            font-size: 21px;
            line-height: 27px;
          }
        }
      }    
    }
  }
}

.side-window {
  min-width: 250px;
  padding-top: 0px;
  
  .side-window-title {
    padding: 20px;
    padding-top: 50px;
    padding-right: 20px;
    h2 {
      margin-top: 0px;
      margin-bottom: 5px;

      @include tablet {
        font-size: 31px;
        line-height: 36px;
      }
    }

    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    @include phone {
      padding-top: 20px;
    }

    @include tablet {
      padding-top: 20px;
    }
  }
}

.pledge-item-anchor {
  color: inherit;
  text-decoration: none;
}

.submit-area {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 0px;

  a {
    color: inherit;
    text-decoration: none;
  }

  paper-button {
    width: 200px;
    background-color: $brand-red;
    color: $light;
  }
  
}

paper-dialog {
  padding: 20px;
  overflow: auto;
  h4 {
    margin-bottom: 5px;
  }

  .pledge-description {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

paper-spinner-lite {
  --paper-spinner-color: $brand-red;
  height: 50px;
  width: 50px;
}
