@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';


:host {
  @extend %h1;
  @extend %paragraph;

  @include phone {
    h1 {
      font-size: 43px;
      line-height: 58px;
    }
  }
}

.main-content {
  min-width: 250px;
  padding-right: 20px;
  padding-top: 60px;
  padding-left: 60px;

  .logo {
    width: 80px;
  }

  h1 {
    width: 50%;
  }

  @include phone {
    padding: 30px;
    h1 {
      width: inherit;
    }
  }
  
  .speaker-list {
    margin-top: 20px;
    
    .speaker-item {
      margin-bottom: 20px;
      .speaker-avatar {
        width: 100px;
        height: 100px;
        background-color: #aaaaaa;
      }
      .speaker-content {
        padding-left: 20px;
        
        h3 {
          text-align: left;
          margin-top: 0;
          margin-bottom: 5px;
        }
        .speaker-body {
          margin: 0px;
        }
      }    
    }
  }
}

.side-window {
  min-width: 250px;
  padding: 20px;
  padding-top: 0px;
  .side-window-title {
    margin-top: 0px;
  }
}

.pledge-item-anchor {
  color: inherit;
  text-decoration: none;
  .pledge-item {
    cursor: pointer;
    padding: 20px;
    padding-top: 0px;
    h3 {
      padding-top: 20px;
      margin-bottom: 5px;
    }
    .pledge-description {
      margin-top: 0px;
    }
  }  
}
