@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';


:host {
  @extend %h1;
  @extend %h2;
  @extend %h3;
  @extend %h4;
  @extend %paragraph;

  @include phone {
    h1 {
      font-size: 43px;
      line-height: 58px;
    }
  }

  @include tablet {
    h1 {
      font-size: 43px;
      line-height: 58px;
    }
  }
}

.spacer {
  @include phone {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.main-content {
  min-width: 250px;
  padding-right: 60px;
  padding-top: 60px;
  padding-left: 60px;

  @include phone {
    padding: 30px;
    h1 {
      width: inherit;
    }
  }

  .logo {
    width: 80px;
  }

  h1 {
    width: 80%;
  }
  
  .speaker-list {
    margin-top: 40px;
    
    .speaker-item {
      margin-bottom: 20px;
      .speaker-avatar {
        width: 75px;
        height: 75px;
        background-color: $gray-2;
        border-radius: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      .speaker-content {
        min-width: 250px;
        
        h3 {
          text-align: left;
          margin-top: 0;
          margin-bottom: 5px;
        }

        .speaker-body {
          margin: 0px;
        }

        @include phone {
          h3 {
            font-size: 21px;
            line-height: 27px;
          }
        }

        @include tablet {
          h3 {
            font-size: 21px;
            line-height: 27px;
          }
        }
      }    
    }
  }
}

.side-window {
  min-width: 250px;
  padding-top: 0px;
  .side-window-title {
    padding: 20px;
    h2 {
      margin-top: 0px;
      margin-bottom: 5px;
    }

    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.pledge-item-anchor {
  color: inherit;
  text-decoration: none;
}

.pledge-item {
  cursor: pointer;
  padding: 20px;
  .pledge-description {
    margin-top: 0px;
  }

  &:hover {
    background-color: $brand-red;
    p {
      color: $light !important;
    }
  }

  
} 
