.uxph-banner {
  @include horizontal-layout;
  @include center;
  @include wrap;

  .flex {
    @include flex;
  }

  .uxph-banner-text {
    padding-top: 37px;

    .uxph-banner-text-title {
      font-weight: 700;
      font-size: 50px;
      color: $brand-red-2;
      line-height: 56px;
      margin-top: 0px;
      margin-bottom: 19px;
    }

    .uxph-banner-text-date-location {
      @include horizontal-layout;
      @include center;

      .uxph-banner-text-date {
        width: 150px;
      }

      .uxph-banner-text-location {
        width: 180px;
      }

      .uxph-banner-text-date-location-anchor {
        color: inherit;
        text-decoration: none;

        .uxph-banner-text-date-location-container {
          @include horizontal-layout;
          @include center;
          background-color: $white;
          position: relative;
          margin-right: 10px;
          padding: 12px;
          height: 60px;

          .material-icons {
            color: $grey-3;
          }
          .uxph-banner-text-date-location-text-area {
            @include flex;
            text-align: center;

            .uxph-banner-text-date-location-title {
              font-weight: 600;
              font-size: 16px;
              color: $black;
              line-height: 24px;
            }

            .uxph-banner-text-date-location-subtitle {
              // font-weight: 600;
              font-size: 14px;
              color: $black;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

section {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 51px;

  .uxph-section-divider {
    margin-top: 35px;
    margin-bottom: 33px;
    height: 2px;
    width: 20px;
    background-color: $grey-2;
  }

  .uxph-small-divider {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 1px;
    width: 20px;
    background-color: $white;
  }
}

#about {
  .uxph-about-section {
    @include horizontal-layout;
    @include wrap;
    // @include center;

    .uxph-about-title {
      @include flex-2;

      .uxph-about-caption {
        font-weight: 300;
        font-size: 40px;
        color: $black;
        letter-spacing: 0;
        line-height: 50px;
        margin: 0px;
      }
    }

    .uxph-about-description {
      @include flex-3;
    }
  }
}

#speakers {
  color: $white;

  .uxph-speaker-section {
    @include horizontal-layout;
    @include wrap;

    .uxph-speaker-container {
      @include horizontal-layout;
      @include flex;

      .uxph-speaker-avatar {
        height: 140px;
        margin-right: 20px;
      }

      .uxph-speaker-text-container {
        @include flex;
        margin-bottom: 45px;

        .uxph-speaker-name {
          font-weight: 400;
          margin: 0px;
          font-size: 24px;
          color: $white;
          letter-spacing: 0;
        }

        .uxph-speaker-caption {
          font-size: 14px;
          color: $white;
          letter-spacing: 0;
          line-height: 16px;
        }
      }
    }
  }
}
