@import 'styles/variables';

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 100%;
}

#header-container {
  header {
    height: 55px;
    padding-left: 42px;
    .uxph-logo-anchor {
      text-decoration: none;
      color: inherit;
      .uxph-logo {
        height: 30px;
      }
    }

  }

}

#page-container {

}
