@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/uxph-backgrounds';
@import 'styles/buttons';
@import 'styles/index-page';
@import 'styles/header';
@import 'styles/footer';


body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 100%;

  &.font-loaded {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
  }
}


#page-container {

}
