// Put your mixins for UXPH Conference 2017 here

@import 'variables';

////////// Phone //////////
@mixin phone {
  @media only screen and (max-width: map-get($grid-breakpoints, phone) - 1) {
    @content
  }
}

@mixin specialsize {
  @media only screen and (max-width: map-get($grid-breakpoints, specialsize) - 1) {
    @content
  }
}

////////// Tablet //////////
@mixin tablet {
  @media only screen and  (min-width: map-get($grid-breakpoints, phone)) and (max-width: map-get($grid-breakpoints, tablet) - 1) {
    @content;
  }
}

////////// Small Desktop //////////
@mixin smalldesktop {
  @media only screen and  (min-width: map-get($grid-breakpoints, tablet)) and (max-width: map-get($grid-breakpoints, smalldesktop) - 1) {
    @content;
  }
}

////////// Large Screen //////////
@mixin largescreen {
  @media only screen and (min-width: map-get($grid-breakpoints, smalldesktop) - 1) {
    @content;
  }
}