// Branding

$black: #000000;
$white: #ffffff;
$grey-1: #EFEFEF;
$grey-2: #888888;
$grey-3: #C4C4C4;
$brand-red-1: #D71635;
$brand-red-2: #EC3558;
$brand-blue-1: #15B0DE;
$brand-blue-2: #3DBBE0;

$desktop: 1024px;
