// Branding

$black: #000000;
$white: #ffffff;
$grey-1: #EFEFEF;
$grey-2: #888888;
$grey-3: #C4C4C4;
$grey-4: #555555;
$grey-5: #556E79;
$grey-6: #EEEEEE;
$grey-7: #222222;
$brand-red-1: #D71635;
$brand-red-2: #EC3558;
$brand-red-3: #EA385A;
$brand-blue-1: #15B0DE;
$brand-blue-2: #3DBBE0;
$brand-blue-3: #24B0DB;

$desktop: 1024px;

// Atoms
.uxph-section-title {
  opacity: 0.8;
  font-weight: 700;
  font-size: 36px;
  color: $black;
  letter-spacing: 0;
  margin-top: 0px;
  margin-bottom: 35px;
}

.uxph-section-title-2 {
  font-weight: 700;
  font-size: 36px;
  color: $white;
  letter-spacing: 0;
  margin-top: 0px;
  margin-bottom: 35px;
}

.uxph-paragraph-1 {
  font-size: 14px;
  color: $grey-4;
  letter-spacing: 0;
  line-height: 20px;
}

.uxph-list-1 {
  font-size: 16px;
  color: $black;
  letter-spacing: 0;
  line-height: 22px;
}

.uxph-list-item-1 {
  margin-left: -20px;
  padding-left: 20px;
  margin-bottom: 11px;
}
