@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';


.main-content {
    @extend %h1;
    @extend %h2;
    @extend %h3;
    @extend %h4;
    @extend %paragraph;


    min-width: 250px;
    padding-right: 60px;
    padding-top: 60px;
    padding-left: 60px;

    @include phone {
        padding: 30px;
        h1 {
            width: inherit;
        }
    }

    .logo {
        width: 80px;
    }

    h1 {
        width: 80%;
    }

    @include phone {
        h1 {
            font-size: 43px;
            line-height: 58px;
        }
    }

    @include tablet {
        h1 {
            font-size: 43px;
            line-height: 58px;
        }
    }

}
