.main-content h1, .main-content h2, .main-content h3 {
  font-family: 'Playfair Display', 'Times New Roman', serif; }

.main-content h4, .main-content p {
  font-family: 'Raleway', sans-serif; }

.main-content h1 {
  font-weight: 700;
  font-size: 74px;
  line-height: 99px;
  color: #000000;
  margin-top: 5px; }

.main-content h2 {
  font-weight: 700;
  font-size: 43px;
  line-height: 58px;
  color: #4A4A4A; }

.main-content h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #000000; }

.main-content h4 {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: #4A4A4A; }

.main-content p {
  font-size: 16px;
  line-height: 25px;
  color: #4A4A4A; }

.main-content h1, .main-content h2, .main-content h3 {
  font-family: 'Playfair Display', 'Times New Roman', serif; }

.main-content h4, .main-content p {
  font-family: 'Raleway', sans-serif; }

.main-content h1 {
  font-weight: 700;
  font-size: 74px;
  line-height: 99px;
  color: #000000;
  margin-top: 5px; }

.main-content h2 {
  font-weight: 700;
  font-size: 43px;
  line-height: 58px;
  color: #4A4A4A; }

.main-content h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: #000000; }

.main-content h4 {
  font-weight: 700;
  font-size: 33px;
  line-height: 39px;
  color: #4A4A4A; }

.main-content p {
  font-size: 16px;
  line-height: 25px;
  color: #4A4A4A; }

.main-content {
  min-width: 250px;
  padding-right: 60px;
  padding-top: 60px;
  padding-left: 60px; }
  @media (max-width: 479px) {
    .main-content {
      padding: 30px; }
      .main-content h1 {
        width: inherit; } }
  .main-content .logo {
    width: 80px; }
  .main-content h1 {
    width: 80%; }
  @media (max-width: 479px) {
    .main-content h1 {
      font-size: 43px;
      line-height: 58px; } }
  @media (min-width: 480px) and (max-width: 839px) {
    .main-content h1 {
      font-size: 43px;
      line-height: 58px; } }
